<form class="app-form" id="form" action="/save" method="POST">
  <div>
    <a onclick="addActivity()">+</a>
    <a onclick="calculateAll()" id="calculate">calcular</a>
    <button type="submit">salvar</button>
  </div>
  <div>
    <p>&nbsp;</p>
    <p id="result"></p>
  </div>
  <div class="interval">
    <input name="inicialTime" type="time">
    <input name="finalTime" type="time">
    <input name="desc" type="text">
    <input name="resultTime" type="text" readonly></input>
  </div>
</form>

<footer>&nbsp;calculadora de intervalos de tempo v1.2</footer>