:root {
    --color: rgb(255, 0, 0);
}

.acs {
    font-size: 50px;
    font-weight: bolder;
    flex-grow: 10;
    color: var(--color);
}

.container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.codeArea {
    display: flex;
    flex-direction: column;
    background-color: #090909;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    width: 600px;
}

.codeMenu {
    align-self: flex-end;
}

.codeText {
    color: #444;
}

.highlight {
    color: var(--color);
}