@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.light {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    color: rgb(0, 0, 0);
}

html {
    height: 100%;
}

body {
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #202020, #151515, #101010);
    background: linear-gradient(to bottom, #202020, #151515, #101010);
    color: rgba( 255, 255, 255, 1)
}

table {
    margin-left: auto;
    margin-top: 10px;
}

.acs {
    margin-right: 350px;
    font-size: 50px;
}

a {
    background: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
    color: var(--body-color);
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 50px;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
}

.wip {
    text-align: center;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 200px;
    padding: 20px;
    margin: 0% 30%;
}

.intro {
    text-align: justify;
    padding: 30px;
    background: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
    margin-right: 60%;
    border-radius: 0px 50px 50px 0px;
}

.footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 99%;
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.light-bulb {
    width: 25px;
    height: 25px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 3.5%;
}

.line {
    border-left: 5px solid #69FF97;
    height: 70%;
    position: absolute;
    left: 25%;
    top: 20%;
}

.about-title {
    position: absolute;
    top: 20%;
    left: 27%;
}

.about-text {
    position: absolute;
    top: 28%;
    left: 27%;
    text-align: justify;
}

.skills-title {
    position: absolute;
    top: 40%;
    left: 27%;
}

.skills-text {
    position: absolute;
    top: 48%;
    left: 27%;
    text-align: justify;
}

.name {
    position: absolute;
    top: 52%;
    left: 3.5%;
    font-size: 25px;
}

.ufsj {
    position: absolute;
    top: 58%;
    left: 3.5%;
}