@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color: #ff0000;
}

@media (max-width: 768px) {
    .nav-button {
        display: none;
    }

    .nav-bar {
        width: 100vw;
    }

    .acs {
        text-align: center;
    }

    html {
        font-size: 50%;
    }

    
}

* {
    font-family: monospace;
    text-align: justify;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    background-color: #090909;
}

header {
    position: sticky;
    top: 0px;
}

#rgbOn {
    z-index: 100;
    position: absolute;
    opacity: 0;
}

#rgbOn:hover {
    opacity: 1;
}

.nav-bar {
    display: flex;
    padding: 0px 100px;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(2px);
}

.nav-button {
    color: #fff;
    flex-grow: 1;
    font-size: 2em;
    text-align: center;
    align-self: center;
    text-decoration: none;
    transition: .1s;
}

.nav-button:hover {
    color: var(--color);
    transform: scale(1.1);
    transition: .1s;
}

.nav-button:active {
    transform: scale(1);
    transition: .1s;
}

.acs {
    color: var(--color);
    font-size: 4em;
    font-weight: 1000;
    flex-grow: 9;
}

.profile-pic {
    height: 20rem;
}

.socialsGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.telegram .codeText, .github .codeText, .linkedin .codeText {
    width: 44rem;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 20rem;
    resize: vertical;
}

.form button {
    display: block;
    padding: 1rem;
    background: var(--color);
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.project-container {
    position: relative;
}

.image {
    display: block;
    opacity: 1;
    width: 25rem;
    transition: .2s;
    border-radius: 10px;
}

.description {
    position: absolute;
    top: 0;
    text-align: center;
    transition: .2s;
    opacity: 0;
}

.project-container:hover .image {
    filter: opacity(10%) blur(5px);
}

.project-container:hover .description {
    opacity: 1;
}

.text {
    color: var(--color);
}

/* "code" areas */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    margin: 10px;
}

.codeArea {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #090909;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
    width: fit-content;
}

.codeMenu {
    align-self: flex-end;
}

.codeText {
    padding: 10px;
    line-height: 35px;
    font-size: 2rem;
    color: #444;
}

.highlight {
    color: var(--color);
}

/* "code" areas */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #090909;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color);
}