@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.light {
    background: url(./images/wbg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    background-position-x: center;
    color: rgb(0, 0, 0);
}

.lightGlass {
    margin: 10vw;
    padding: 2vw;
    --color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur( 10px);
    -webkit-backdrop-filter: blur( 10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.048);
}

.navLight {
    position: sticky;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    color: #000;
}

.navLightLink {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

html {
    height: 100%;
}

body {
    background-color: #101010;
}

main {
    background: url(./images/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    background-position-x: center;
}

.sectionTittle {
    padding-bottom: 1vw;
}

.sectionStyle {
    margin: 10vw;
    padding: 2vw;
    color: white;
    background: rgba( 0, 0, 0, 0.6);
    backdrop-filter: blur( 10px);
    -webkit-backdrop-filter: blur( 10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.048);
}

.projectsContainer {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 15vw 15vw;
    justify-content: space-between;
}

.projectsLinks {
    color: var(--color);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.projectPreview {
    width: 20vw;
    filter: grayscale(100%) blur(3px);
    transition-duration: .2s;
    border-radius: 20px;
}

.projectPreview:hover {
    filter: grayscale(0%) blur(0px);
    border-radius: 5px;
}

section {
    height: 100vh;
}

nav {
    position: sticky;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(6, 6, 7, 0.75);
    color: #fff;
}

.navFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: .8vw;
    padding-bottom: .8vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.navFlexItem {
    margin: 2vh;
}

.navIcon {
    font-size: 35px;
    text-align: center;
}

.navFlexItemSpan {
    flex-grow: 1;
}

.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navLink:hover {
    filter: opacity(100%);
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.light-bulb {
    width: 35px;
    height: 35px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInput {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10vw;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color);
    backdrop-filter: blur( 7px);
    width: 40vw;
    transition-duration: .2s;
}

.contactInputContent {
    margin-bottom: 10px;
    padding: 10px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1vw;
    color: var(--color);
    backdrop-filter: blur( 7px);
    width: 40vw;
    transition-duration: .2s;
    resize: none;
}

.contactInputSubmit {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10vw;
    width: 40vw;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #8c00ff, #ff00cc);
    background: linear-gradient(to right, #8c00ff, #ff00cc);
    transition-duration: .2s;
}

.contactInputSubmit:hover {
    background: #ff00cc;
    background: -webkit-linear-gradient(to left, #8c00ff, #ff00cc);
    background: linear-gradient(to left, #8c00ff, #ff00cc);
}

.contactInput:hover, .contactInputContent:hover {
    background-color: rgba(34, 34, 34, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #101010;
}

::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 4px;
}