@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Inter', monospace;
}

body, html {
    font-size: 16px;
    color: #f7f1ff;
    /* background-image: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"); */
    background-image: linear-gradient(to right, #b721ff 0%, #21d4fd 100%);

}

.logo-mobile {
    display: none;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 1.6em;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

.nav-buttons:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.6em;
    margin: 2em;
    padding: 2em;
    text-align: justify;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

h1 {
    text-align: center;
    margin: 2rem;
}

.ativado {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 1);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

@media (max-width: 768px) {

    body, html {
        font-size: 14px;
    }

    .logo-mobile {
        display: block;
    }

    .logo-desktop {
        display: none;
    }
}