:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    color: #eee;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.2rem;
    background-color: #111;
}

h1 {
    font-size: 3rem;
    padding: 3.2rem;
}

.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-input {
    display: grid;
    grid-template-columns: 9fr 1fr;
    background-color: #444;
    width: 40rem;
    border-radius: 1.5rem;
}

.search-input input {
    background-color: transparent;
    color: #eee;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.6rem;
}


button {
    background-color: transparent;
    border: 0;
}

.fav-only {
    padding: 3.2rem;
    font-size: 1.6rem;
}

.movie {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #222;
    border-radius: 1.5rem;
    width: 122.4rem;
    height: 20.1rem;
    margin: 1rem;
}

.movie-poster {
    background-image: url(https://m.media-amazon.com/images/M/MV5BNjlhNmI2NjItNmJjYi00YzEwLWFjY2EtYmNhYmE3NGFkMTUzXkEyXkFqcGdeQXVyMTYzMDM0NTU@._V1_.jpg);
    background-size: cover;
    width: 13.9rem;
    height: 13.9rem;
    border-radius: 50%;
}

.movie-infos {
    display: flex;
    width: 50%;
    padding-left: 4rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.movie-trf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}

.movie-description {
    padding-right: 4rem;
    text-align: justify;
    width: 50%;
    font-size: 1.8rem;
}