:root {
    font-size: 62.5%;
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 56.25%;
    }

    .movie {
        flex-wrap: nowrap;
        flex-direction: column;
        height: fit-content !important;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    color: #eee;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.2rem;
    background-color: #111;
}

h1 {
    font-size: 3rem;
    padding: 3.2rem;
}

main {
    width: 100%;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-input {
    display: grid;
    grid-template-columns: 9fr 1fr;
    background-color: #444;
    width: 40rem;
    border-radius: 1.5rem;
}

.search-input input {
    background-color: transparent;
    color: #eee;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.6rem;
}


button {
    background-color: transparent;
    border: 0;
}

.fav-only {
    padding: 3.2rem;
    font-size: 1.6rem;
}

.movie {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem;
    background-color: #222;
    border-radius: 1.5rem;
    width: 122.4rem;
    height: 20.1rem;
    margin: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.movie-poster {
    max-width: 13.9rem;
    background-size: cover;
    width: 100%;
    height: 13.9rem;
    border-radius: 50%;
}

.movie-infos {
    display: flex;
    width: 50%;
    font-size: 1.8rem;
    font-weight: 500;
}

.movie-trf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}

.movie-description {
    display: flex;
    text-align: justify;
    width: 50%;
    height: 80%;
    overflow: auto;
    font-size: 1.8rem;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}