@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    color: #f7f1ff;
    font-size: 1.6rem;
    font-family: "Inter", monospace;
    line-height: 2.6rem;
}

body {
    background-color: #181818;
    padding: 0rem 10vw;
    text-align: justify;
}

div {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header {
    text-align: center;
}

h1 {
    font-size: 3.2rem;
    line-height: 4rem;
}

h2 {
    font-size: 2.4rem;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.4rem;
        line-height: 3rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}